<!DOCTYPE html>
<html lang="en">
    <%- include("header.ejs") %>

<body>
    <form action="/update/<%= post.post_id %>" method="POST">

    
    <div class="form-group mb-2">
        <label>New title:</label>
            <input placeholder="<%=post.title%>" type="text" name="title" id="title" class="form-control">
        </div>
        
        <div class="form-group mb-2">
            <label>New description:</label>
            <textarea placeholder="<%=post.description%>" name="description" id="description" class="form-control"></textarea>
        </div>
        
        <div class="form-group mb-2">
            <label>New post:</label>
            <textarea placeholder="<%=post.body%>" name="body" id="body" class="form-control"></textarea>
        </div>

    <button type="submit" class="btn btn-primary mt-2">Update Post</button>
</form>
</body>
</html>



