<!DOCTYPE html>
<html lang="en">

<%- include("header.ejs") %>

<body class="bg-dark">
    

      <form action="/posts" method="post">

        <div class="form-group mb-2">
            <input required placeholder="Title" type="text" name="title" id="title" class="form-control" value="">
        </div>
        
        <div class="form-group mb-2">
            <textarea required placeholder="Enter a description of your post" name="description" id="description" class="form-control"></textarea>
        </div>
        
        <div class="form-group mb-2">
            <textarea required placeholder="Post here:" name="body" id="body" class="form-control"></textarea>
        </div>

        <a href="/" class="btn btn-secondary mt-2">Clear</a>
        <button type="submit" class="btn btn-primary mt-2" > Submit</button>
    </form>

    
    <!-- Display the title of the latest post -->
<h2 class="mt-4">Previous Posts: </h2>

<% posts.forEach(post => { %>
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-header py-3"><%= post.title %></h4>
            
            <div class="card-body mb-2"><%= post.description %></div>
            <div class="card-body mb-2"><%= post.body %></div>
            <p class="time"><%= post.time %></p>
            <!--Edit link with the post ID -->
            <a href="/edit/<%= post.post_id %>" class="btn btn-primary">Edit</a>
            
            <!--Delete link with the post ID -->
            <a href="/delete/<%= post.post_id %>" class="btn btn-danger">Delete</a>
        </div>
    </div>
<% }) %>
   
    
</body>
</html>